{# templates/trick/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter un Trick{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.id_group) }}
                {{ form_row(form.images) }}

                <div id="videos-container">
                    {% set videoPrototype = form_widget(form.videos.vars.prototype) %}
                    {% for videoIndex, videoField in form.videos %}
                        {% set videoField = videoField|replace({'__name__': videoIndex}) %}
                        {{ videoField.vars.block_prefixes[1] != 'hidden' ? form_row(videoField) }}
                    {% endfor %}
                </div>

                <button type="button" class="btn btn-primary" id="add-video-button">Ajouter une vidéo</button>
                <button type="submit" class="btn btn-primary">Créer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script>

        // Counter for video elements
        var videoCounter = {{ form.videos|length }};

        // Function to add a new video field
        function addVideoField() {
            var videoPrototype = '{{ videoPrototype|e('js') }}';
            var newVideo = videoPrototype.replace(/__name__/g, videoCounter);
            document.getElementById('videos-container').insertAdjacentHTML('beforeend', newVideo);
            videoCounter++;
        }

        // Function to remove a video field
        function removeVideoField(videoIndex) {
            var videoField = document.getElementById('tricks_videos_' + videoIndex);
            if (videoField) {
                videoField.parentNode.parentNode.removeChild(videoField.parentNode);
            }
        }

        // Event listener for the add video button
        document.getElementById('add-video-button').addEventListener('click', function() {
            addVideoField();
        });

        // Event listener for removing a video
        document.addEventListener('click', function(event) {
            if (event.target && event.target.classList.contains('remove-video-button')) {
                var videoIndex = event.target.getAttribute('data-video-index');
                removeVideoField(videoIndex);
            }
        });
    </script>
{% endblock %}
