{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}

  <!-- Header avec image et boutons -->
   <header class="header" style="background-image: url('../assets/img/{{trick.images[0].path}}');">
    <div class="container">
      <h1>{{trick.name}}</h1>
      {% if app.user %}
      <div class="actions">
        <a href="edit/{{trick.id}}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
        <a href="delete/{{trick.id}}" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
      </div>
      {% endif %}
    </div>
  </header>

  <!-- Flexbox -->
  <section>
    <div class="container">
      <div class="d-flex flex-wrap justify-content-around">
        
        {% for img in trick.images %}
            <div class="col-md-2 col-sm-6 box">
                <img class="d-block" src="../assets/img/{{img.path}}" alt="">
            </div>
        {% endfor %}
        {% for video in trick.videos %}
            <div class="col-md-2 col-sm-6 box">
                {{video.iframe|raw}}
            </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Description -->
  <section>
    <div class="container">
      <h3>Description</h3>
      <p>{{trick.description}}</p>
    </div>
  </section>

  <!-- Flexbox pour les dates et groupe -->
  <section>
    <div class="container">
      <div class="d-flex">
        <div class="col-md-4">
          <p>Date de création: {{trick.createdAt|date('d/m/Y')}} </p>
        </div>
        <div class="col-md-4">
          {# <p>Date de modification: </p> #}
        </div>
        <div class="col-md-4">
          <p>Groupe de la figure: {{trick.idGroup.name}}</p>
        </div>
      </div>
    </div>
  </section>

    <hr>

  <!-- Formulaire et commentaires -->
  <section>
    <div class="container">
      <h3>Commentaires</h3>
      {% if app.user %}
      {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
      {{ form_end(form) }}
      <hr>
      {% endif %}

      {% for discussion in discussions %}
        <div class="mt-4 d-flex align-items-start">
            <img src="../assets/img/{{discussion.author.avatar}}" class="rounded-circle" alt="Avatar" style="width: 90px; height: 90px; object-fit: contain;">
            <div class="ms-3 d-flex flex-column justify-content-between">
                <div class="comment-box">
                    <h5 class="mt-0">{{discussion.author.username}}</h5>
                    <p>{{discussion.content}}</p>
                </div>
            </div>
            {% if app.user %}
              <button type="button" id="{{discussion.id}}" class="btn btn-primary align-self-center repondre">Répondre</button>
            {% endif %}
        </div>
        
        {# Afficher les réponses sous chaque commentaire parent #}
        {% for reply in discussion.replies %}
            <div class="mt-4 reply d-flex align-items-start">
              <img src="../assets/img/{{discussion.author.avatar}}" class="rounded-circle" alt="Avatar" style="width: 90px; height: 90px; object-fit: contain;">
              <div class="ms-3 d-flex flex-column justify-content-between">
                <div class="comment-box">
                  <h5 class="mt-0">{{reply.author.username}}</h5>
                  <!-- Afficher le contenu de la réponse -->
                  <p>{{ reply.content }}</p>
                </div>
              </div>
            </div>
        {% endfor %}
        <hr/>
    {% endfor %}

    <!-- Formulaire pour ajouter une réponse -->
    {% if app.user %}
        <div id="reply-form-container" style="display: none;">
            {{ form_start(replyForm, {'attr': {'id': 'reply_form'}}) }}
                {{ form_row(replyForm.content) }}
                <button type="submit" class="btn btn-primary">Ajouter une réponse</button>
            {{ form_end(replyForm) }}
        </div>
    {% endif %}
    </div>
  </section>
</div>

<script>
    // Gérer l'affichage dynamique du formulaire de réponse
    const replyButtons = document.querySelectorAll('.repondre');
    const replyFormContainer = document.getElementById('reply-form-container');

    replyButtons.forEach((button) => {
        button.addEventListener('click', () => {
            const discussionId = button.getAttribute('id');
            const form = document.getElementById('reply_form');
            form.action = './reply/' + discussionId;
            replyFormContainer.style.display = 'block';
        });
    });
</script>
        
{% endblock %}