{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Tous les Tricks</h1>

        <div class="row mt-3">
            {% for trick in tricks %}
                <div class="col-md-4">
                    <div class="card mb-4">
                    {% if images[loop.index -1] is not null %}
                        <img src="assets/img/{{ images[loop.index -1].path }}" class="card-img-top" alt="{{ trick.name }}">
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ trick.name }}</h5>
                            <p class="card-text">{{ trick.description }}</p>
                            <a href="trick/{{ trick.slug }}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% if app.user %}
<div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="{{ path('add_trick') }}">Créer un Trick</a>
</div>
{% endif %}
{% endblock %}